/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
}

.effect {
	transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.roverboard {
  width: 400px;
  height: 400px;
  margin: 20px;
  border: 25px solid #333;
}

.black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #999;
  font-size: 50px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}
.white {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}